<!--
 Course: COMP229-001-Project-v1
 Group#: 9
 Members: Asha Saha, Janelle Baetiong, Youngshin Min
 -->

@{
    ViewData["Title"] = "_InsertImage";
}

<div class="form-group">
    <input type="file" name="pic" /><br />
</div>
