<!--   
 Course: COMP229-001-Project-v1
 Group#: 9
 Members: Asha Saha, Janelle Baetiong, Youngshin Min
 -->

@model ReviewViewModel
@{
    Layout = "_Layout";
}
<form asp-action="AddReview" asp-controller="Home" method="post">
    <label asp-for="@Model.Review.Body">
        <strong>Add Review:</strong><br />
        <textarea asp-for="@Model.Review.Body" placeholder=" Add Review Here..."></textarea>
    </label>
    <input type="hidden" asp-for="@Model.RecipeID" />
    <button type="submit" class="button1">Submit</button>

</form>
